/*.fon
{
    width: 800px;
    height: 800px;
    margin-top: 10px;*/
    /* background: rgb(215, 174, 228); 
    position: relative;
}*/
/*.fon_div 
{
    margin: 0 auto;
    width: 700px;
}*/
/*.fon_buttons 
{
    margin-top: 20px;
}*/
/*.canvas 
{
    border: 2px solid #000000;
    position: absolute;
    background: rgb(215, 174, 228);
}*/
/*#clear 
{
    width: 100px;
    background: rgb(221, 93, 93);
    color: rgb(14, 14, 14);
    margin-left: 300px;
    margin-top: 50px;
}*/

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fon {
    width: 800px;
    height: 800px;
    /* background: rgb(215, 174, 228); */
}


.fon_div {
  margin-left: calc(70px + (370 - 70)*((100vw - 450px)/(1400 - 450)));
}

.canvas {
    border: 2px solid #000000;
    background: #ffc2fb;
}
#clear{
  position: relative;
  right: calc(130px + (50 - 130)*((100vw - 450px)/(1400 - 450)));
}
#clear, #create_put {
    width: 100px;
    height: 36px;
    /*background: rgb(221, 93, 93);
    color: rgb(14, 14, 14);*/

    background: #4478A1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    height: calc(32px + (68 - 32)*((100vw - 450px)/(1400 - 450)));
    width: calc(70px + (150 - 70)*((100vw - 450px)/(1400 - 450)));
    margin-top: 100px;
    margin-left: calc(50px + (-100 - 50)*((100vw - 450px)/(1400 - 450)));
    margin-bottom: 6%;
    /*opacity: 0;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + (14 - 10)*((100vw - 450px)/(1400 - 450)));
    line-height: 10px;
    color: white;
    border: 0;
}
#clear:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 2px;
}

#create_put:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 2px;
}

.area {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(image/fon.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title_area {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: calc(30px + (70 - 30)*((100vw - 450px)/(1200 - 450)));
  line-height: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back_button_area {
  width: 15%;
}

.back_button_fon {
  width: 90px;
  height: 75px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-radius: 64px;
  left: 3%;
  top: 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back_button_fon:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 3%;
  top: 3.1%;
}

.back_button {
  width: 100%;
  height: 100%;
  background-image: url(image/Arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 45px;
}

.empty_right {
  width: 15%;
}

.table_area {
    margin-top: 2%;
}

.button_block {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    justify-content: space-around;
}

.sliders_area {
    display: flex;
    flex-direction: column;
}

.first_slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(30px + (-250 - 30)*((100vw - 450px)/(1400 - 450)));
}

.second_slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(30px + (-250 - 30)*((100vw - 450px)/(1400 - 450)));
}

.value_first, .value_second
{
  min-width: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + (14 - 10)*((100vw - 450px)/(1400 - 450)));
  position: relative;

  top: 2px;
}

.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + (14 - 10)*((100vw - 450px)/(1400 - 450)));
}

.class {
  display: flex;
  flex-direction: row;
}