canvas
{
    border: 2px solid #000000;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.area {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(image/fon.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title_area {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: calc(35px + (100 - 35)*((100vw - 450px)/(1400 - 450)));
  line-height: 155px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back_button_area {
  width: 15%;
}

.back_button_fon {
  width: calc(65px + (90 - 65) * ((100vw - 450px)/(1400 - 450)));
  height: calc(50px + (75 - 50) * ((100vw - 450px)/(1400 - 450)));
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-radius: 64px;
  left: 3%;
  top: 3%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back_button_fon:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 3%;
  top: 3.1%;
}

.back_button {
  width: 100%;
  height: 100%;
  background-image: url(image/Arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 45px;
}

.empty_right {
  width: 15%;
}

.input_area {
	margin-top: 2%;
	display: flex;
	flex-direction: row;
}

.empty_area {
	width: 29%;
}

.canvas_area {
	width: 42%;
	display: flex;
}

.canvas {
	margin-left: calc(-10px + (-90 - -10)*((100vw - 450px)/(1400 - 450)));
}

.button_area {
	width: 29%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn {
  background: #4478A1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  height: calc(32px + (68 - 32)*((100vw - 450px)/(1400 - 450)));
  width: calc(70px + (150 - 70)*((100vw - 450px)/(1400 - 450)));
  margin-bottom: 6%;
  /*opacity: 0;*/
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + (14 - 10)*((100vw - 450px)/(1400 - 450)));
  line-height: 10px;
  color: white;
  border: 0;
}

.btn:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 2px;
}

.margin_btn {
	margin-bottom: 0;
}

.kmeans_area {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	align-items: center;
	margin-bottom: 6%;
}

.input {
	max-height: 20px;
	max-width: 150px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-left: 4%;
}

.label {
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.other_button {
	display: flex;
	flex-direction: column;
}

.text_area {
	margin-left: 7%;
}