<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="area">
        <div class="header">
            <div class="back_button_area">
                <div class="back_button_fon">
                    <div class="back_button"></div>
                </div>
                <div class="button_empty"></div>
            </div>
            <div class="title_area">
                <p class="title">
                    A-star
                </p>
                <div class="title_empty"></div>
            </div>
            <div class="empty_rigth"></div>
        </div>
        <div class="input_area">
            <div class="empty_block_left"></div>
            <div class="text_block">
                <div class="text">
                    Введите размер карты
                </div>
            </div>
            <div class="input_block">
                <input class="input" value="3" type="number" id="input" min="1">
            </div>
            <div class="button_block">
                <button id="map" class="button" onclick = "createMap()"></button>
            </div>
            <div class="empty_block_right"></div>
        </div>
        <div class="table_area">
            <div class="canvas_area">
                <canvas class="canvas" width="700" height="700"></canvas>
            </div>
            <div class="button_block_t">
                <button class="btn first_point_button" id = "start">Начальная точка</button>
                <button class="btn last_point_button" id = "end">Конечная точка</button>
                <button class="btn wall_button" id="walls">Стенка</button>
                <button class="btn clear_path_button" id = "maze" onclick = "generatePrimMaze()">Сгенерировать лабиринт</button>
                <button class="btn find_short_path_button" onclick="Astar(start,end)">Найти путь</button>
                <button class = "btn" onclick = "createMap()">Очистить карту</button>
                <label class = "label" for="Slider">Скорость анимации:</label>
                <input type="range" min="0" max="200" id="Slider" class = "slider">
            </div>
        </div>
    </div>
    <script src = "{{ url_for('static', filename='scripts/Astar.js') }}"></script>
</body>
</html>