<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='scripts/genetic.js') }}"></script>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Генетический</title>
</head>
<body>
    <div class="fon_div">
        <button id="clear" class="create-map">удали</button>
        <div class="fon" id="fon">
            <canvas class="canvas" id="myCanvas" width="600" height="600"></canvas>
        </div>
        <div class="fon_buttons">
            <button id="place_point" class="create-map">тык</button>
            <button id="create_put" class="create-map">ищи</button>
        </div>
    </div>
</body>
</html>
