<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<title>Главная</title>
</head>
<body>
	<div class="area">
		<div class="header">
            <div class="title_area">
                <div class="title">
                    КОМАНДА 7 TIME LIMIT
                </div>
            </div>
            <div class="team_img_area">
            	<div class="team_img"></div>
            </div>
        </div>
    </div>
</body>
</html>