html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

ul {
    padding: 0px;
}

li {
    margin-right: auto;
    margin-left: auto;
}

#tree ul {
    display: flex;
    white-space: nowrap;
	padding-top: 20px; 
    position: relative;
}

#tree li {
	float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0px 0px;
}

#tree li::before, #tree li::after{
	content: '';
	position: absolute; 
    top: 0;
    right: 50%;
	border-top: 1px solid rgb(37, 37, 37);
	width: 50%; 
    height: 23px;
}

#tree li::after{
	right: auto; 
    left: 50%;
	border-left: 1px solid rgb(37, 37, 37);
}

#tree li:only-child::after, #tree li:only-child::before {
	display: none;
}

#tree li:only-child{ 
    margin-top: -25px;
}

#tree li:first-child::before, #tree li:last-child::after{
	border: none;
}

#tree li:last-child::before{
	border-right: 1px solid rgb(37, 37, 37);
	border-radius: 0 5px 0 0;
}

#tree li:first-child::after{
	border-radius: 5px 0 0 0;
}

#tree ul ul::before{
	content: '';
	position: absolute; 
    top: 0; 
    left: 50%;
	border-left: 1px solid rgb(37, 37, 37);
	width: 0; 
    height: 20px;
}

#tree li span{
    background: whitesmoke;
	border: 1px solid rgb(37, 37, 37);
    min-width: 70px;
    max-width: min-content;
    padding-top: 5px;
    height: 10px;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 6px;
	display: inline-block;
	border-radius: 3px;
    border: 1px solid rgb(37, 37, 37);
}